<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flab.recipebook.user.domain.dao.UserDao">

    <insert id="save" keyProperty="userNo" parameterType="User" useGeneratedKeys="true" >
    /** com.flab.recipebook.user.domain.dao.UserDao*/
        INSERT INTO USERS (user_no, user_id, password, email, user_role, create_date, modify_date)
        VALUES (#{userNo}, #{userId}, #{password}, #{email}, #{userRole}, #{createDate} , #{modifyDate})
    </insert>

    <update id="update" parameterType="User">
        UPDATE users
        set password = #{password},
            email = #{email}
        where user_no = #{userNo}
    </update>

    <select id="findById" parameterType="Long" resultType="User">
        SELECT
            user_no,
            user_id,
            password,
            email,
            user_role,
            create_date,
            modify_date
        FROM users
        where user_no = #{userNo}
    </select>

    <select id="existUserId" parameterType="String" resultType="boolean">
        SELECT exists(
            select 1
            from users
            where user_id = #{userid}
        )
    </select>

    <select id="existEmail" parameterType="String" resultType="boolean">
        SELECT exists(
                       select 1
                       from users
                       where email = #{email}
                   )
    </select>

    <delete id="deleteById" parameterType="Long">
        DELETE from users
            where user_no = #{userNo}
    </delete>

</mapper>